Package: pytestemb-lib
Version: 3.4.0
Section: python
Priority: optional
Architecture: all
Maintainer: J.M.Beguinet
Depends: python (>= 2.7), python (<< 2.8)
Description: PYTESTEMB library
 .
   * Unit testing framework
 .
